@model Person




<form asp-controller="Home" asp-action="Edit" method="post">
  <div class="mb-3">
    <label asp-for=Name class="form-label"></label>
    <input class="form-control" asp-for=Name aria-describedby="nameHelp">
    <div id="nameHelp" class="form-text">Enter New Name</div>
  </div>
  <button type="submit" class="btn btn-primary">Edit</button>
</form>